Package: com.khafra.hidelspagecontrol
Name: HideLSPageControl
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Khafra
Author: Khafra
Section: Tweaks
